<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="display-page">
	<p>
		That where there is hatred I may bring love, <br>

		That where there is wrong, I may bring the spirit of forgiveness, <br>

		That where there is discord, I may bring harmony, <br>

		That where there is error I may bring truth, <br>

		That where there is doubt I may bring faith, <br>

		That where there is despair I may bring hope, <br>

		That where there are shadows I may bring light, <br>

		That where there is sadness I may bring joy. <br>
	</p>
</div>