<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>
	<p>
			This is the home page for the 
			<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
			sample application.
			<div class="home-video" align="center">
				<video class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="640" height="360" data-autoresize="none" data-player-kit="3" data-sharing-image="auto" data-uid="a240e92d" data-name="Midnight Sun" preload="none">
				  <source src="https://cdn.sublimevideo.net/vpa/ms_720p.mp4" data-quality="hd" />
				  <source src="https://cdn.sublimevideo.net/vpa/ms_360p.mp4" />
				  <source src="https://cdn.sublimevideo.net/vpa/ms_720p.webm" data-quality="hd" />
				  <source src="https://cdn.sublimevideo.net/vpa/ms_360p.webm" />
				</video>
			</div>
	</p>

	<%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>