<footer class="footer">
	<small>
		Phoenix Fellow
		<a href="http://quiet-headland-1891.herokuapp.com/">by Alan Sparrow</a>
	</small>	
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://quiet-headland-1891.herokuapp.com/">News</a></li>
			<li>Your IP: <%= get_client_ip %></li>
		</ul>
	</nav>
</footer>